---
import { Image } from "astro:assets";
import Carousel from "../components/Carousel";
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/bazurco logo.png";
import {
  IconUsersGroup,
  IconHeartHandshake,
  IconSeeding,
} from "@tabler/icons-react";
import Tabs from "../components/Tabs";

import HomeSectionImg from "../assets/seccion-home.jpeg";
import Service1 from "../assets/servicios-gimnasio.jpeg";
import Service2 from "../assets/servicio-centro-de-salud.jpg";
import Service3 from "../assets/servicio-shopping.jpg";
import Service4 from "../assets/servicio-espacios-verdes.webp";
import Service5 from "../assets/servicio-fabrica.png";
import Service6 from "../assets/servicio-edificio.webp";
import Mapa from "../assets/home-mapa.png";

const Services = [
  { title: "Instalaciones y complejos deportivos", img: Service1 },
  { title: "Centros de salud", img: Service2 },
  { title: "Shopping y centros comerciales", img: Service3 },
  { title: "Mantenimiento de espacios verdes", img: Service4 },
  { title: "Fábricas y plantas industriales", img: Service5 },
  { title: "Bancos y edificios gubernamentales", img: Service6 },
];
---

<Layout
  title="Inicio - Bazurco"
  description="Bienvenido a Bazurco - Tu empresa de servicios de limpieza"
>
  <Carousel client:load />
  <Tabs client:load />

  <!-- Servicios -->
  <div>
    <div class="max-w-[85%] mx-auto py-12">
      <h1 class="text-4xl text-blue-500 text-center mb-12">
        Conozca nuestros servicios
      </h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          Services.map((service) => (
            <a href="/servicios" class="max-h-[250px] relative group">
              <Image
                src={service.img}
                alt={service.title}
                class="w-full h-full object-cover rounded-lg shadow-lg"
              />
              <div class="scale-y-0 group-hover:scale-y-100 transition-transform duration-300 absolute inset-0 bg-black/50 rounded-lg flex items-center justify-center origin-bottom p-2">
                <h2 class="text-white text-3xl text-center">{service.title}</h2>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <!-- Conocenos -->
  <div class="h-screen flex">
    <div class="flex-1">
      <div class="flex justify-center items-center bg-indigo-950 h-full">
        <div class="mx-12">
          <h2 class="text-white text-4xl text-center">
            Cada experiencia suma a nuestra historia. Crecemos con propósito,
            confianza y personas que piensan en personas.
          </h2>
          <nav class="flex gap-4 mt-8 justify-center">
            <a
              href="/servicios"
              class="text-2xl px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600"
              >Conozca lo que hacemos</a
            >
            <a
              href="/contacto"
              class="text-2xl px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600"
              >Contáctanos</a
            >
          </nav>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <Image
        src={HomeSectionImg}
        alt="bazurco logo"
        class="object-cover w-full h-full"
      />
    </div>
  </div>

  <!-- Ubicacion -->
  <div class="max-w-[85%] mx-auto py-28">
    <div class="flex items-center">
      <div class="flex-1">
        <h1 class="text-7xl font-black text-blue-500 mb-6">
          Estamos en todo el país
        </h1>
        <p class="text-gray-500">
          Consúltenos por los servicios ofrecidos en su departamento
        </p>
        <a
          href=""
          class="text-2xl px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 inline-block mt-4"
          >Contáctanos</a
        >
      </div>
      <div class="flex-1 flex justify-center items-center">
        <Image src={Mapa} alt="bazurco logo" class="w-[400px]" />
      </div>
    </div>
  </div>
</Layout>
<!-- <div class="flex flex-col gap-24 w-full h-full max-w-[90%] mx-auto py-12">
    <div class="grid grid-cols-2 gap-6">
      <div class="flex gap-2 items-center">
        <Image src={Logo} alt="bazurco logo" class="w-[200px]" />
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Bazurco</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
      <div class="flex gap-2 items-center">
        <div class="w-[900px]">
          <IconUsersGroup className="w-full h-auto text-blue-400" />
        </div>
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Equipo</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
      <div class="flex gap-2 items-center">
        <div class="w-[900px]">
          <IconHeartHandshake className="w-full h-auto text-blue-400" />
        </div>
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Responsabilidad</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
      <div class="flex gap-2 items-center">
        <div class="w-[900px]">
          <IconSeeding className="w-full h-auto text-blue-400" />
        </div>
        <div class="pt-4">
          <h6 class="text-blue-400 font-bold text-2xl">Medio Ambiente</h6>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur, reiciendis. Similique, molestias dolor libero vero
            eligendi repudiandae delectus. Aut optio totam dicta voluptates
            placeat? Eos, voluptatem error. Illo, corrupti aut.
          </p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <p class="text-lg text-gray-700">
        Si deseas saber más sobre nosotros, visita nuestra sección de
        <a href="/nosotros" class="text-blue-500 hover:underline"> Nosotros</a>.
      </p>
      <p class="text-lg text-gray-700">
        Para conocer nuestros servicios, visita nuestra sección de
        <a href="/servicios" class="text-blue-500 hover:underline">
          Servicios</a
        >.
      </p>
    </div>
  </div> -->
