---
import PageParallax from "../components/PageParallax.astro";
import Layout from "../layouts/Layout.astro";

import heroImage from "../assets/parallax-nosotros.png";
import Service1 from "../assets/servicios-gimnasio.jpeg";
import Service2 from "../assets/servicio-centro-de-salud.jpg";
import Service3 from "../assets/servicio-shopping.jpg";
import Service4 from "../assets/servicio-espacios-verdes.webp";
import Service5 from "../assets/servicio-fabrica.png";
import Service6 from "../assets/servicio-edificio.webp";

import ClientsCarousel from "../components/ClientsCarousel";

const gridItems = [
  {
    title: "Instalaciones y complejos deportivos",
    description:
      "Con una planificación personalizada para cada caso, nuestros servicios de limpieza e higienización juegan un papel clave, garantizando un entorno óptimo y cuidado que eleva la experiencia tanto de los organizadores como de los participantes.",
    imageUrl: Service1.src,
  },
  {
    title: "Centro de salud",
    description:
      "Existen lugares donde se pone a prueba la capacidad de servicio: los grandes centros de atención sanitaria. Allí es donde se requiere la combinación de personal altamente especializado, innovación tecnológica y productos químicos que garanticen la gestión medioambiental y las adecuadas barreras sanitarias. Se utilizan sistemas de limpieza diferenciados para las zonas de alto, mediano y bajo riesgo.",
    imageUrl: Service2.src,
  },
  {
    title: "Hogares empresas y centros comerciales",
    description:
      "En Bazurco brindamos servicios de limpieza y mantenimiento diseñados para adaptarse a las necesidades específicas de cada cliente. Nuestro compromiso se refleja en la eficiencia y calidad de cada intervención, respaldadas por un equipo profesional y dedicado. Trabajamos con responsabilidad y atención al detalle para garantizar entornos limpios, cuidados y pensados para el bienestar de las personas que los utilizan a diario. ",
    imageUrl: Service3.src,
  },
  {
    title: "Parquizado y mantenimiento de espacios verdes",
    description:
      "Nos especializamos en el cuidado de espacios verdes, manteniéndolos saludables y estéticos durante todo el año. Adaptamos nuestras técnicas según las necesidades de cada estación y aplicamos prácticas sustentables que protegen el entorno. Colaboramos con cada cliente para crear espacios armónicos, funcionales y en sintonía con la naturaleza",
    imageUrl: Service4.src,
  },
  {
    title: "Fábricas y plantas industriales",
    description:
      "La empresa cuenta con amplia experiencia en servicios de mantenimiento en fábricas y plantas industriales, siempre estableciendo procesos específicos y desarrollando tareas de procedimientos solicitados por cada cliente. manera segura y sustentable.",
    imageUrl: Service5.src,
  },
  {
    title: "Bancos y edificios gubernamentales",
    description:
      "Considerando la importancia que tiene este rubro, se ofrece personal calificado de alta experiencia y baja rotación, haciendo de las instalaciones un lugar acorde a las exigencias del competitivo mercado financiero y gubernamental.",
    imageUrl: Service6.src,
  },
];

const nosotrosData: Array<{
  title: string;
  description: string;
  list?: string[];
}> = [
  {
    title: "Calidad",
    description:
      "En Bazurco, alcanzar la excelencia es el motor que impulsa cada una de nuestras acciones. Para lograrlo, invertimos en la capacitación continua de nuestro equipo humano, fomentando tanto el desarrollo profesional como el crecimiento personal. Incorporamos maquinaria de última generación y tecnologías innovadoras que optimizan nuestros procesos, al mismo tiempo que mantenemos un fuerte compromiso con la sostenibilidad y el cuidado del medio ambiente, asegurando así un servicio de calidad con impacto positivo.",
  },

  {
    title: "Misión",
    description:
      "La misión de Bazurco es brindar un servicio de excelencia, especializado y sustentable, que responda a las necesidades de nuestros clientes con soluciones eficientes y confiables. Nos basamos en la mejora continua, la innovación y el compromiso con el entorno, construyendo relaciones duraderas basadas en la confianza, el profesionalismo y el respeto. Buscamos generar valor a largo plazo, tanto para nuestros clientes como para la comunidad y el medioambiente.",
  },
  {
    title: "Visión",
    description:
      "Como empresa líder en servicios especializados y sustentables, nuestra visión es consolidar nuestra posición en el mercado y expandirnos a nuevas regiones, llevando nuestra eficiencia, innovación y compromiso a más comunidades. Queremos seguir generando impacto positivo, construyendo relaciones de confianza y promoviendo el desarrollo sostenible en cada lugar donde estemos presentes.",
  },
  {
    title: "Valores",
    description: "Con nuestros clientes y la sociedad",
    list: [
      "Conducta ética: integridad, honestidad, compromiso y responsabilidad",
      "Comunicación efectiva: atendiendo a las necesidades del cliente y brindando respuestas.",
      "Trabajo en equipo: para lograr la eficiencia en el servicio.",
      "Sustentabilidad: teniendo como prioridad el cuidado del medio ambiente.",
    ],
  },
];
---

<Layout title="Bazurco - Nosotros" description="Conoce más sobre nosotros">
  <PageParallax imageUrl={heroImage.src} title="Bienvenido a Bazurco" />

  <div
    class="grid grid-cols-[390px] sm:grid-cols-[repeat(2,390px)] lg:grid-cols-[repeat(3,390px)] w-[90%] place-content-center mx-auto gap-16 py-12"
  >
    {
      gridItems.map((item) => (
        <div class="w-[390px] h-[450px] overflow-hidden relative group rounded-lg">
          <img
            src={item.imageUrl}
            alt={item.title}
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 bg-indigo-500 scale-0 group-hover:scale-100 transition-transform duration-500 origin-top-left rounded-lg" />
          <div class="absolute inset-0 bg-black/50 flex  justify-center transition-opacity duration-300 p-6">
            <div class="text-white ">
              <h4 class="text-3xl  uppercase">{item.title}</h4>
              <p class="mt-2 text-justify">{item.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <ClientsCarousel client:load />

  <div class="flex px-8 py-16 gap-16">
    {
      nosotrosData.map((item) => (
        <div class="flex-1 flex flex-col gap-4">
          <h3 class="text-4xl font-semibold">{item.title}</h3>
          {item?.list ? (
            <ul class="list-disc mt-2">
              {item.list.map((listItem) => (
                <li class="ml-3">{listItem}</li>
              ))}
            </ul>
          ) : (
            <p class=" text-center text-justify">{item.description}</p>
          )}
        </div>
      ))
    }
  </div>
</Layout>
